<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ng-model</title>
    <script lang="javascript" src="libs/angular.min.js"></script>
    <style>

    </style>
    <script>
        angular.module("myapp", [])
                .controller("MyController", ["$scope", function($scope){
                    $scope.message = {
                        title : " Tinh toan ",
                        num1  : " So thu nhat ",
                        num2  : " So thu 2 ",
                        cong  : " Cong hai so ",
                        tru   : " Tru hai so ",
                        nhan  : " Nhan hai so ",
                        chia  : " Chia hai so ",
                    };
                    $scope.styleresult = "display:none";
                }]);
    </script>
</head>
<body ng-app="myForm">
    <form name="calForm" ng-controller = "MyController" action="">
        {{message.title}}
        {{message.num1}}
        <input  type="text" ng-model="stn" ng-pattern="/^\d+$/" name="stn" class="my-input"><br>
        {{message.num2}}
        <input  type="text" ng-model="stn" ng-pattern="/^\d+$/" name="stn" class="my-input"><br>
        {{message.cong}}<br>
        {{message.tru}}<br>
        {{message.nhan}}<br>
        {{message.chia}}<br>

    </form>
</body>
</html>
<!--ng-model hay còn gọi là ngModel là một Directive dùng để liên kết dữ liệu với client,
 nghĩa là nó thường được dùng để cho người dùng nhập liệu nên ta hay sử dụng trong FORM html. -->
